<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        td {padding: 0px 30px;}
    </style>
</head>
<body>
    <!--<form method="post" action="/reports">-->
        <!--<input type="text" name="name">-->
        <!--<input type="submit" value="overall" name="overall">-->
    <!--</form>-->
    <h1>Documents summary:</h1>
    <table border="1">
      {% for summary in summary_items %}
        <tr>
            <td>
                {{summary['name']}}
            </td>
            <td>
                {{summary['value']}}
            </td>
        </tr>
      {% end %}
    </table>

    <h1>These are top 10 of news sources:</h1>
    <table border="1">
      {% for item in sources_items %}
        <tr>
            <td>
                {{item['name']}}
            </td>
            <td>
                {{item['value']}}
            </td>
            <td>
                {{item['percent']}}%
            </td>
        </tr>
      {% end %}
    </table>


    <h1>These are top 10 of news categories:</h1>
    <table border="1">
      {% for item in categories_items %}
        <tr>
            <td>
                {{item['name']}}
            </td>
            <td>
                {{item['value']}}
            </td>
            <td>
                {{item['percent']}}%
            </td>
        </tr>
      {% end %}
    </table>


</body>
</html>