<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This page is for RSS info</h1>
    <table>
        <tr>
            <td>Rounds</td>
            <td>Full rounds</td>
            <td>Empty rounds</td>
            <td>Total new</td>
            <td>Link</td>
        </tr>
    {% for item in rss_data%}
        <tr>
            <td>{{ item['rounds'] }}</td>
            <td>{{ item['full_rounds'] }}</td>
            <td>{{ item['empty_rounds'] }}</td>
            <td>{{ item['total_new'] }}</td>
            <td>{{ item['link'] }}</td>
        </tr>
    {% end %}
    </table>
</body>
</html>